@import "bootstrap/scss/bootstrap";

a.dropdownMenuCombo {
    text-decoration: none;
}

.dropdown-item-content:hover {
    cursor: pointer;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-item-selector {
    width: 16px;
}

.dropdown-item-content {
    flex-grow: 1;
}

.items {
    max-height: 200px;
    overflow-y: auto;
}

.dropdownMenuCombo {
    overflow-y: hidden;
}

.w-95 {
    width: 95%;
}

.right-after:after {
    position:absolute;
    right:8px;
    top  :16px;
}